<div th:fragment="header">
    <sec>
        <nav class="mainNav">
            <a class="nameOfSite" href="/">The notes of Alexander Supertramp</a>
            <a class="mainNav" href="/contacts">Contacts</a>
            <a class="mainNav" href="/aboutMe">About me</a>
<!--            <a class="mainNav" href="/notes">Notes</a>-->
            <a sec:authorize="!isAuthenticated()" class="singInButton" href="/login">Sing in</a>
            <a sec:authorize="!isAuthenticated()" class="singInButton" href="/registration">Sing up</a>
            <a sec:authorize="isAuthenticated()" class="singInButton" href="/logout">Sing Out</a>
            <a sec:authorize="isAuthenticated()" class="singInButton" href="/logout">Sing Out</a>
            <a sec:authorize="hasRole('ROLE_MODERATOR')" class="singInButton" href="/moderator">Moderate</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="singInButton" href="/admin">Admin</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="singInButton" href="/admin/edit_site">Edit blocks</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="singInButton" href="/admin/edit_contacts">Edit contacts</a>
        </nav>
    </div>
</div>