<div th:fragment="header">
    <sec>
        <nav class="mainNav">
            <a class="nameOfSite" href="/">The notes of Alexander Supertramp</a>
            <a class="mainNav" href="/contacts">Contacts</a>
            <a class="mainNav" href="/aboutMe">About me</a>
            <a class="mainNav" href="/notes">Notes</a>
            <sec authorize="hasRole('ROLE_ADMIN')">
                <a class="mainNav" href="/admin">Admin</a>
            </sec>
            <sec authorize access="!isAuthenticated()">
                <a class="mainNav" href="/login">Sing in</a>
            </sec>
            <sec authorize access="!isAuthenticated()">
                <a class="mainNav" href="/registration">Sing up</a>
            </sec>
        </nav>
    </div>
</div>