body{
    background-color: dimgrey;
    color: azure;
    /*margin-left: 4%;*/
    /*margin-right: 3%;*/
}

h3{
    font: 18pt/18pt DejaVu Sans Mono, monospace;
}

a{
    color: lavender;
    text-decoration: overline;
}
header{
    margin: auto;
}

footer{
    position: absolute;
    width: 95%;
    height: 5rem;
    left: 20pt;
    font: 12pt/12pt Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font: 12pt/12pt DejaVu Sans Mono, monospace;
}
.mainNav{
    font: 15pt/15pt DejaVu Sans Mono, monospace;
    margin-left: 30pt;
}

.nameOfSite{
    font: 25pt/25pt DejaVu Sans Mono, monospace;
    text-decoration: none;
    /*margin-left: 10pt;*/
}
.basicText{
    font: 14pt/14pt Arial, sans-serif;
    margin-top: 10pt;
}
.basicTextSmall{
    font: 11pt/11pt FreeMono, monospace;
}
.noteNav{
    font: 13pt/13pt DejaVu Sans Mono, monospace;
    margin-left: 45pt;
}
.mainNoteNav{
    margin-top: 10pt;
}

.fullNote{
    margin-top: 15pt;
    border-radius: 10px;
    background-color: #303030;
    padding: 20pt;
    padding-top: 1pt;
}
.fullNoteDetails{
    margin-top: 15pt;
    border-radius: 10px;
    background-color: #303030;
    padding: 20pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
}
.heading{
    font: 14pt/14pt Arial, sans-serif;
    color: azure;
}

.fullText{
    font: 12pt/12pt FreeMono, monospace;
    padding: 10pt;
    border-radius: 10px;
    background-color: #555555;
    word-wrap: break-word;
}
.tags{
    font: 11pt/11pt FreeMono, monospace;
    padding-top: 10pt;
}
/*forms of input*/

form{
    margin-right: 25pt;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lavender;
    color: gray;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

.test {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 400pt;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button4 {
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    margin-left: 120pt;
    cursor: pointer;
    font: 14pt/14pt Arial, sans-serif;
    background-color: #e7e7e7; color: black;
}
.bottomright {
    position: absolute;
    right: 16px;
    font-size: 18px;
}

.small-button{
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    /*margin-left: 120pt;*/
    cursor: pointer;
    font: 14pt/14pt Arial, sans-serif;
    background-color: #e7e7e7; color: black;
    /*margin-bottom: 10pt;*/
}

.singInButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 15pt;
    /*transition-duration: 1s;*/
    cursor: pointer;
}

.editButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 15pt;
    /*transition-duration: 1s;*/
    cursor: pointer;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

/*#customers tr:hover {background-color: #ddd;}*/

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #303030;
    color: white;
}
