:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;

    /*--rad: .7rem;*/
    /*--dur: .3s;*/
    /*--color-dark: #2f2f2f;*/
    /*--color-light: #fff;*/
    /*--color-brand: #57bd84;*/
    /*--font-fam: 'Lato', sans-serif;*/
    /*--height: 5rem;*/
    /*--btn-width: 6rem;*/
    /*--bez: cubic-bezier(0, 0, 0.43, 1.49);*/
}

a{
    color: #00664d;
    text-decoration: overline;
}
.white{
    color: white;
}
.about{
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-radius: 10pt;
    margin-top: 15pt;
    width: 100%;
    height: 300pt;
    position: sticky;
    bottom: 20pt;
    font: 15pt/15pt Verdana, sans-serif;
    border-bottom-right-radius: 50pt;
    padding: 25pt;
    background: linear-gradient(45deg, 	 #999180, #5ca389);
}
.aboutText{
    color: black;
    width: 70%;
}

* {
    box-sizing: border-box;
}

body {
    height: 25vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    padding: calc(var(--space) * 2);
    max-width: 80%;
    background-image: url(../images/bckBlack.svg);
    background-color: #c7b39b; /* Цвет фона */
}

.multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
}

.multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
            calc(var(--space) / 1.125)
            var(--space)
            var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}

.multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}

.multi-button button:active {
    transform: translateY(var(--border-size));
}

img{
    position: absolute;
    right: 200px;
    bottom: 100px;
}


/*search*/
* {
    box-sizing: border-box;
}

form.example input[type=text] {
    outline: 2px solid black;
    height: 30pt;
    padding: 5pt;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    color: black;
}

form.example button {
    outline: 2px solid black;
    height: 60pt;
    float: top;
    width: 20%;
    padding: 10px;
    background: #99ebff;
    color: black;
    font-size: 17px;
    border: none;
    /*border-left: none;*/
    cursor: pointer;
}

form.example button:hover {
    background: #80ffbf;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.shadow{
    box-shadow: var(--shadow) 4px 4px;
}

.bigShadow{
    box-shadow: var(--shadow) 10px 10px;
}
.topRight{
    position: absolute;
    right: 10pt;
    top: 80pt;
}
.botRight{
    position: sticky;
    right: 10px;
    bottom: 10pt;
}

.topButton{
    font: 10pt/10pt DejaVu Sans Mono, monospace;
    background-color:  white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.monospace{
    font: 12pt/12pt DejaVu Sans Mono, monospace;
}
.title{
    font: 15pt/15pt Verdana, sans-serif;
    border: 10pt;
    border-radius: 5pt;
    border-bottom-right-radius: 50pt;
    padding: 5pt;
    background: linear-gradient(45deg, 	 #cdde85, #87cdde);
}
.contact{
    position: absolute;
    width: 50%;
    font: 15pt/15pt Verdana, sans-serif;
    border: 10pt;
    border-radius: 5pt;
    border-bottom-right-radius: 50pt;
    padding: 5pt;
    background: linear-gradient(45deg, 	#e6e6e6, #3b6958);
}

.basicText{
    font: 14pt/14pt Arial, sans-serif;
    margin-top: 10pt;
}

.bottomright {
    position: relative;
    left: 530pt;
    bottom:40pt;
    font-size: 18px;
}

.bottomLittleLeft {
    position: relative;
    right: 130pt;
    top:40pt;
    font-size: 18px;
}

.fullNote{
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    border-radius: 1px;
    width: 80%;
    font: 12pt/12pt DejaVu Sans Mono, monospace;
    margin-top: 15pt;
    border-radius: 10px;
    border-bottom-right-radius: 105px;
    background: linear-gradient(45deg, 	#3b6958, #827a69);
    /*background-color: #94b8b8;*/
    padding: 20pt;
    padding-top: 1pt;
    padding-bottom: 1pt;
}
.heading{
    font: 15pt/15pt Verdana, sans-serif;
    background-color: #e6e6e6;
    /*background: linear-gradient(45deg, 	 #cdde85, #87cdde);*/
    padding: 10pt;
    border-radius: 20px;
    border-bottom-right-radius: 105px;
}
.fullText{
    background-color: #e6e6e6;
    padding: 10pt;
    border-radius: 20px;
    border-bottom-right-radius: 105px;
}
.tags{
    font: 11pt/11pt DejaVu Sans Mono, monospace;
    background-color: #e6e6e6;
    /*background: linear-gradient(70deg, #ffeeaa, #87cdde);*/
    padding: 3pt;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}
.date{
    font: 11pt/11pt DejaVu Sans Mono, monospace;
    background: linear-gradient(45deg, #ffffb3, #cce5ff);
    padding: 5pt;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
}

.details{
    font: 10pt/10pt DejaVu Sans Mono, monospace;
    /*background-color:  #3b6958; !* Green *!*/
    background: linear-gradient(45deg, 	#3b6958, #827a69);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5pt;
    border-bottom-right-radius: 35pt;
}