<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Admin_panel"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>

<form action="" method="post">
    <input name="id" placeholder="id..">
    <input name="username" placeholder="username..">
    <select name="role">
        <option value="ROLE_USER">ROLE_USER</option>
        <option value="ROLE_MODERATOR">ROLE_MODERATOR</option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
    </select>
    <input type="submit" value="Search">
</form>


<table id="customers">
    <thead>
    <th>ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    </thead>

    <tr th:each="el : ${user}" >
        <td th:text="${el.id}"></td>
        <td th:text="${el.username}"></td>
        <td th:text="${el.password}"></td>
        <td th:text="${el.role}"></td>
        <td>
            <form action="">
            <a th:href="'/admin/edit/' + ${el.id}" class="editButton">Edit</a>
            </form>
        </td>

    </tr>
</table>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>