<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div class="basicText" th:text="'this is the beginning of something small but important.....'"/>
<div>
    <a class="basicText" href="/roles">Roles</a>
    <a class="basicText" href="/removeSite">Remove site</a>
    <a class="basicText" href="/statistics">Statistics</a>
</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>