<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Contacts"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>


<div class="changePass bigShadow">
    <div th:text="${msg}"></div>
    <div th:text="'Change pass for ' + ${username}" class="heading shadow">
    </div>
    <form method="post">
        <input type="password" class="usernameInput margin shadow" name="previousPass" placeholder="previous password..">
        <input type="password"  class="usernameInput margin shadow" placeholder="new password..">
        <input type="password" class="usernameInput margin shadow" name="confirmNewPass" placeholder="confirm new password..">
        <div class="submit-button margin">
            <button type="submit" class="big-button">update password</button>
        </div>
    </form>
</div>
</body>
</html>