<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Contacts"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<header th:include="blocks/header :: header"></header>
<body>
<div th:each="el : ${contacts}" class="basicText">
    <span th:text="${el.name} + ': ' "></span>
        <span>
            <a th:href="${el.link}" th:text="${el.visibleTextOfLink}"></a>
        </span>

</div>
</body>
<footer th:include="blocks/footer :: footer"></footer>
</html>