<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sweet home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></head>
<link th:href="@{/css/style.css}" rel="stylesheet" />

<body>
    <div class="multi-button">
        <button onclick="window.location='/notes'">notes</button>
        <button onclick="window.location='/aboutUs'">about us</button>
        <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
        <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
        <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
        <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
        <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
        <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
        <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
    </div>

<!-- <img src="images/chil.svg" alt="1" id="pict"> -->
</div>

<script type="text/javascript" src="script.js"></script>
</body>

</body>
</html>

