<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Registrarion"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div>
    <form action="/registration" method="post">
        <input type="text" name="username" placeholder="Username.." autofocus="true" th:error="*{usernameError}">
        <p th:text="${usernameError}"></p>
        <input type="password" name="password" placeholder="Password.." th:error="*{passwordError}">
        <p th:text="${passwordError}" ></p>
        <input type="password" name="passwordConfirm" placeholder="Confirm password..">
        <input type="submit" value="Sing up">
    </form>


</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>