<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div class="basicText" th:text="'There are notes on various topics here'"/>
<div th:insert="blocks/noteNav :: noteNav"></div>

<div th:each="el : ${note}" class="basicText">
    <h3>Editing note:</h3>
    <form method="post">
        <input th:value="${el.heading}" th:type="text" name="heading">
        <textarea th:utext="${el.toSqlBreakLines()}" name="fullText" class="editText" ></textarea>
        <input th:value="${el.tags}" type="text" name="tags">
        <input type="submit" value="Update">
    </form>
</div>

</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>