<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="multi-button">
        <button onclick="window.location='/notes'">notes</button>
        <button onclick="window.location='/aboutUs'">about us</button>
        <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
        <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
        <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
        <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
        <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
        <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
        <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
        <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
    </div>


<p th:text="${msg}" class="error"></p>

    <form class="example shadow topRight" aaction="/notes" method="post" style="margin:auto;max-width:300px">
        <span>
            <input onkeyup="success()" id="textsend" type="text" name="text" placeholder="search by text..">
            <input type="text" name="tag" placeholder="search by tag..">
        </span>
        <span>
            <button id="button" disabled type="submit"><i class="fa fa-search"></i>go</button>
        </span>
    </form>

    <div th:each="el : ${notes}" class="fullNote bigShadow">
    <p th:text="${el.heading}" class="heading shadow textShadow"></p>
    <p th:utext="${el.getShortText(el.finalFullText)}" class="fullText shadow"></p>
    <div class="tags shadow">
            <div th:text="'tags: ' + ${el.tags}" ></div>
            <p th:text="'Created: ' + ${el.date}" ></p>
    </div>
    <a class="details bottomright shadow" th:href="'/notes/' + ${el.id}">Details</a>

</div>
    <a href="#" class="botRight topButton shadow">Back to top</a>
    <script type="text/javascript" th:src="@{/js/disable.js}"></script>
</body>
</html>