<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Add_note"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>

<div class="fullNote bigShadow">
    <h3 class="heading shadow">Adding a new note:</h3>
    <form action="/notes/add" method="post">
        <input onkeyup="success()" id="textsend" class="editHeading shadow" type="text" name="heading" placeholder="heading...">
        <textarea name="fullText" placeholder="full text..." class="editText shadow"></textarea>
        <input type="text" class="editTag shadow" name="tags" placeholder="tags...">
        <div class="submit-button margin">
            <button id="button" disabled type="submit" class="big-button">add note</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/js/disable.js}"></script>
</body>
</html>