<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Notes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div class="basicText" th:text="'There are notes on various topics here'"/>
<div th:insert="blocks/noteNav :: noteNav"></div>

<div th:each="el : ${note}" class="fullNote">
        <p th:text="${el.heading}" class="heading"></p>
        <p th:utext="${el.fullText}" class="fullText"></p>
        <p>
            <div class="tags">tags:</div>
            <div class="tags" th:text=" ${el.tags}"></div>
        </p><br>
        <p sec:authorize="hasRole('ROLE_SUPERTRAMP')">
            <a th:href="'/notes/edit/' + ${el.id}" class="small-button">Edit</a>
            <a th:href="'/notes/delete/' + ${el.id}" class="small-button">Delete</a>
        </p>

</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>