<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/images/icon.svg}" type="image/x-icon">
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/notes/add'">new note</button>
</div>


<div th:each="el : ${note}" class="fullNote bigShadow">
    <p th:text="${el.heading}" class="heading shadow"></p>
    <p th:utext="${el.finalFullText}" class="fullText shadow"></p>

    <h5 class="tagsDetails shadow">tags:
        <span th:each="tag: ${tags}">
                <span>
                    <a th:href="'/notes/search/' + ${tag}" th:text="${tag}"></a>
                </span>
            </span>
    </h5>

    <p sec:authorize="hasRole('ROLE_SUPERTRAMP')">
        <a th:href="'/notes/edit/' + ${el.id}" class="details bottomright shadow left">Edit</a>
        <a th:href="'/notes/delete/' + ${el.id}" class="details bottomright shadow left">Delete</a>
    </p>
    <p sec:authorize="isAnonymous()" class="warning monospace shadow">Please sing in to comment</p>
    <div class="fullNote bigShadow" sec:authorize="isAuthenticated()">
        <form method="post" class="basicText">
            <textarea onkeyup="success()" name="fullComment" class="full-comment shadow"></textarea>
            <div class="submit-button margin">
                <button id="button" disabled type="submit" class="big-button littleSmall">add comment</button>
            </div>
        </form>
    </div>

    <div class="allComments bigShadow">
        <div th:each="com : ${comments}" class="fullComment shadow">
            <p th:text="${com.author}"></p>
            <p th:utext="${com.fullComment}"></p>
            <div th:text=" ${com.date}"></div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/disable.js}"></script>
</body>
</html>