<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Notes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div class="basicText" th:text="'There are notes on various topics here'"/>
<div th:insert="blocks/noteNav :: noteNav"></div>

<div th:each="el : ${note}" class="fullNote">
        <p th:text="${el.heading}" class="heading"></p>
        <p th:utext="${el.fullText}" class="fullText"></p>

        <h5 class="tags">tags:
            <span th:each="tag: ${tags}">
                <span>
                    <a th:href="'/notes/search/' + ${tag}" th:text="${tag}" ></a>
                </span>
            </span>
        </h5>

        <p sec:authorize="hasRole('ROLE_SUPERTRAMP')">
            <a th:href="'/notes/edit/' + ${el.id}" class="small-button">Edit</a>
            <a th:href="'/notes/delete/' + ${el.id}" class="small-button">Delete</a>
        </p>
    <p sec:authorize="isAnonymous()" class="warning">Please sing in to comment</p>
    <form sec:authorize="isAuthenticated()" method="post" class="basicText">
        <textarea id="comment" name="fullComment" class="full-comment"></textarea>
        <input type="submit" value="add comment">
    </form>
</div>


<div th:each="com : ${comments}" class="fullNote">
    <p th:text="${com.author}" class="heading"></p>
    <p th:utext="${com.fullComment}" class="fullText"></p>
    <div class="tags" th:text=" ${com.date}"></div>
</div>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>