<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Notes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<span>
    <div class="fullNote">
        <span>
            <p th:text="${note.heading}" class="heading"></p>
            <textarea th:utext="${note.toSqlBreakLines(note.rawFullText)}" class="fullModerateText"></textarea>
        </span>
    </div>
</span>
    <span class="mistakeList">
        <p th:text="'List of mistakes:'" ></p>
        <table id="myTable" class="basicTable">
             <thead>
                <th>mistake</th>
                <th>remark</th>
                <th>delete</th>
            </thead>
        </table>
    </span>
</div>
<form method="post">
    <input type="text" name="allRemarks" id="allMistakes" class="invisible">
    <input type="submit" value="Send remarks">
</form>
<script type="text/javascript" th:src="@{/js/moderator.js}"></script>

</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>