<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>


    <form method="post" class="fullTable">
        <div th:text="'Id: ' + ${contact.id}" class="basicText"></div>
        <table id="customers" class="basicTable">
            <thead>
            <th>Name</th>
            <th>Visible text of link</th>
            <th>Link</th>
            <th>is Visible</th>
            <th>Description</th>
            </thead>
            <tr>
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.visibleTextOfLink}"></td>
                <td th:text="${contact.link}"></td>
                <td th:text="${contact.isVisible}"></td>
                <td th:text="${contact.description}"></td>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="usernameInput" type="text" name="name" placeholder="new name.." th:value="${contact.name}">
                </td>
                <td>
                    <input class="usernameInput" type="text" name="visibleText" placeholder="new visible text of link.." th:value="${contact.visibleTextOfLink}">
                </td>
                <td>
                    <input class="usernameInput" type="text" name="link" placeholder="new link.." th:value="${contact.link}">
                </td>
                <td>
                    <select name="isVisible">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                </td>
                <td>
                    <input class="usernameInput" type="text" name="description" placeholder="new description.." th:value="${contact.description}">
                </td>
            </tr>
        </table>
        <div>
            <div class="submit-button margin">
                <button type="submit" class="big-button">update</button>
            </div>
        </div>
    </form>
    <form class="basicText" method="post" th:action="'/admin/delete_contact/' + ${contact.id}">
        <div class="submit-delete margin">
            <button type="submit" class="big-button">delete row</button>
        </div>
    </form>
</body>
</html>