<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/notes/add'">new note</button>
</div>

<div class="fullTable bigShadow">
    <table id="customers" class="basicTable shadow">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Full text</th>
        <th>Previous full text</th>
        </thead>
        <td th:text="${block.id}"></td>
        <td th:text="${block.name}"></td>
        <td th:text="${block.fullText}"></td>
        <td th:text="${block.previousFullText}"></td>
        </tr>
    </table>

    <div th:text="'Change text:'" class="basicText"></div>
    <form class="basicText" method="post">
        <div>
            <textarea class="editText halfHeight shadow" name="newText"></textarea>
        </div>
        <input type="checkbox" id="rollback" name="rollback" value="true">
        <label for="rollback"> Rollback</label>
        <div class="submit-button">
            <button type="submit" class="big-button">update</button>
        </div>
    </form>
    <p th:text="${msg}"></p>
</div>
</body>
</html>