<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Admin_panel"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>
<div class="fullTable bigShadow" >
    <table id="customers" class="basicTable">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Full text</th>
        <th>Previous full text</th>
        <th>Edit</th>
        </thead>

        <tr th:each="el : ${blocks}" >
            <td th:text="${el.id}"></td>
            <td th:text="${el.name}"></td>
            <td th:text="${el.fullText}"></td>
            <td th:text="${el.previousFullText}"></td>
            <td>
                <form action="">
                    <a th:href="'/admin/edit_site/' + ${el.id}" class="details bottomright shadow left">Edit</a>
                </form>
            </td>

        </tr>
    </table>
</div>
</body>
</html>