<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Admin_panel"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>

<a th:href="'/admin/new_contact'" class="details bottomright shadow left reverseColor" > New contact</a>

<div class="fullTable">
    <table id="customers" class="basicTable">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Visible text of link</th>
        <th>Link</th>
        <th>is Visible</th>
        <th>Description</th>
        <th>View</th>
        <th>Edit</th>
        </thead>

        <tr th:each="el : ${contacts}" >
            <td th:text="${el.id}"></td>
            <td th:text="${el.name}"></td>
            <td th:text="${el.visibleTextOfLink}"></td>
            <td th:text="${el.link}"></td>
            <td th:text="${el.isVisible}"></td>
            <td th:text="${el.description}"></td>
            <td>
                <span th:text="${el.name} + ': ' "></span>
                <span>
                <a th:href="${el.link}" th:text="${el.visibleTextOfLink}"></a>
            </span>
            </td>
            <td>
                <form action="">
                    <a th:href="'/admin/edit_contact/' + ${el.id}" class="details bottomright shadow left">edit</a>
                </form>
            </td>

        </tr>
    </table>
</div>
</body>
</html>