<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/notes/add'">new note</button>
</div>

<div class="fullTable">
    <table id="customers" class="basicTable">
        <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.role}"></td>
        </tr>
    </table>
    <div th:text="'Change role:'" class="monospace"></div>
    <form class="basicText" method="post">
        <div>
            <select name="role">
                <option value="ROLE_USER">ROLE_USER</option>
                <option value="ROLE_MODERATOR">ROLE_MODERATOR</option>
                <option value="ROLE_SUPERTRAMP">ROLE_SUPERTRAMP</option>
                <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            </select>
        </div>
        <div class="submit-button margin">
            <button type="submit" class="big-button">update</button>
        </div>
    </form>
    <form class="basicText" method="post" th:action="'/admin/edit/delete/' + ${id}">
        <div class="submit-delete margin">
            <button type="submit" class="big-button warning">delete user</button>
        </div>
    </form>
</div>
<p th:text="${message}" class="warning"></p>


<script type="text/javascript" th:src="@{/js/warning.js}"></script>
</body>
</html>