<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/images/icon.svg}" type="image/x-icon">
</head>
<body>
<div class="fullError">
    <div class="errorMsg bigShadow">
        <div>You don't have permissions for this page.</div>
        <br/>
        <a href="/">Go back to main page</a>
    </div>
    <img class="bottom" th:src="@{/images/403.svg}" alt="1" id="pict">
</div>
</body>
</html>