<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Notes"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"/><header/>
<div class="basicText" th:text="'There are notes on various topics here'"/>
<div th:insert="blocks/noteNav :: noteNav"></div>

<div class="fullNote">
    <p th:text="${note.heading}" class="heading"></p>
    <p th:utext="${fullText}" class="fullText"></p>
</div>

<form method="post">
    <textarea class="editText" th:utext="${note.toSqlBreakLines(note.rawFullText)}" name="fullNewText">

    </textarea>
    <input type="submit" value="Fix">
</form>
<script>
    function popupFunc(id) {
        let popup = document.getElementById("myPopup" + id);
        popup.classList.toggle("show");
    }
</script>
</body>
<footer th:insert="blocks/footer :: footer"></footer>
</html>