<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Fix"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="multi-button">
    <button onclick="window.location='/notes'">notes</button>
    <button onclick="window.location='/aboutUs'">about us</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/login'">sing in</button>
    <button sec:authorize="!isAuthenticated()" onclick="window.location='/registration'">registration</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/logout'">sing out</button>
    <button sec:authorize="isAuthenticated()"  onclick="window.location='/changePass'">change password</button>
    <button sec:authorize="hasRole('ROLE_MODERATOR')" onclick="window.location='/moderator'">Moderate</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')" onclick="window.location='/supertramp/fix'">Fix notes</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin'">Admin</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_site'">Edit blocks</button>
    <button sec:authorize="hasRole('ROLE_ADMIN')"onclick="window.location='/admin/edit_contact'">Edit contacts</button>
    <button sec:authorize="hasRole('ROLE_SUPERTRAMP')"onclick="window.location='/notes/add'">new note</button>
</div>


<div th:each="el : ${fixList}" class="fullNote bigShadow">
    <p th:text="${el.heading}" class="heading shadow"></p>
    <div th:text="'tags: ' + ${el.tags}" class="tags shadow"></div>
    <p th:utext="${el.getShortText(el.rawFullText)}" class="fullText shadow"></p>
    <p th:text="'Created: ' + ${el.date}" class="basicTextSmall shadow"></p>
    <p th:text="'error count: ' + ${el.getCountOfMistakes}"></p>
    <a class="loginButton" th:href="'/supertramp/fix/' + ${el.id}">Fix</a>
</div>

</body>
</html>